<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codenames</title>
        <link rel="stylesheet" href="/css/bootstrap-5.0-min.css">
        <link rel="stylesheet" href="/css/custom.css">
    </head>

    <body>
        <%- include("header") %>
            <div>
                <main class="container-fluid">
                    <div class="text-center w-25 mx-auto">
                        <h1 class="h3 mb-3 fw-normal">Введите логин и пароль</h1>
                        <h2 id="err"></h2>
                        <form id="loginForm" class="row g-3 needs-validation" novalidate>
                            <div class="input-group has-validation">
                                <input type="text" id="log" class="form-control" placeholder="Login" required autofocus>
                                <div class="invalid-feedback">
                                    Please enter a login.
                                </div>
                            </div>
                            <div class="input-group has-validation">
                                <input type="password" id="pas" class="form-control" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    Please enter a password.
                                </div>
                            </div>
                            <button id="send" class="btn btn-primary" type="submit">Sign in</button>
                        </form>
                    </div>
                </main>
            </div>
            <script src="/js/lcUndefined.js"></script>

    </body>

    <script src="/js/ajax.js"></script>

</html>